Repository talentmaker/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, stylelint --fix --cache

.lintstagedrc.yml:

"src/{**/*,*}.{ts,js,tsx,jsx}":
  - eslint --fix --cache
"*.{json,yml,yaml,html,md}":
  - prettier --write
"!(src)/*.{ts,js,tsx,jsx}":
  - prettier --write
"*.{css,scss,sass}":
  - stylelint --fix --cache

update lint-staged config
  .husky/pre-commit
  .lintstagedrc.yml
Due: prettier --write

husky: dissalow empty
  .husky/pre-commit
Due: none

update lint config
  .lintstagedrc.yml
Due: prettier --write

perf: use `React.lazy` for code-splitting
  src/pages/competition.tsx
  src/pages/editCompetition.tsx
  src/pages/editProject.tsx
  src/pages/project.tsx
  src/pages/projects.tsx
Due: eslint --fix --cache

perf: revert code splits
  src/pages/competition.tsx
  src/pages/editCompetition.tsx
  src/pages/editProject.tsx
  src/pages/project.tsx
  src/pages/projects.tsx
Due: eslint --fix --cache

refactor: move global styles and add markdown-editor.module.scss
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/index.scss
  src/styles/_variables.scss
  src/styles/global/_bootstrap.scss
  src/styles/global/_markdown.scss
  src/styles/global/_utilities.scss
  src/styles/global/_variables.scss
  src/styles/markdown-editor.module.scss
Due: eslint --fix --cache, stylelint --fix --cache

refactor: use mixins for responsiveness
  src/components/nav/index.module.scss
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/home/_searchbar.scss
  src/components/pages/home/home.module.scss
  src/components/styles/markdown-editor.module.scss
  src/index.scss
  src/styles/_bootstrap.scss
  src/styles/_markdown.scss
  src/styles/_mixins.scss
  src/styles/_utilities.scss
  src/styles/_variables.scss
  src/styles/global/_variables.scss
Due: eslint --fix --cache, stylelint --fix --cache

feat: add breadcrumbs
  src/components/detailedItem/index.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/project/index.tsx
  src/components/pages/projects/index.tsx
  src/index.scss
  src/styles/_bootstrap.scss
  src/styles/_variables.scss
Due: eslint --fix --cache, stylelint --fix --cache

feat: use full column for detailedItem
  src/components/detailedItem/index.tsx
Due: eslint --fix --cache

feat: update navbar and spacing
  src/components/detailedItem/index.tsx
  src/components/nav/index.module.scss
  src/components/nav/index.tsx
  src/components/nav/routes.ts
  src/components/pages/competition/index.tsx
  src/components/pages/home/index.tsx
  src/components/pages/project/index.tsx
  src/index.scss
  src/styles/_variables.scss
Due: eslint --fix --cache, stylelint --fix --cache

fix: consistent spacing
  src/components/pages/competitions/index.tsx
  src/components/pages/home/index.tsx
Due: eslint --fix --cache

feat: add github icon to footer
  src/components/footer/index.module.scss
  src/components/footer/index.tsx
  src/components/nav/routes.ts
  src/images/logo.svg
  src/index.scss
  src/styles/_mixins.scss
Due: eslint --fix --cache, stylelint --fix --cache

fix: responsiveness on some pages
  src/components/detailedItem/index.module.scss
  src/components/detailedItem/index.tsx
  src/components/elements/image.tsx
  src/components/gridItem/index.module.scss
Due: eslint --fix --cache, stylelint --fix --cache

fix(profile): fix padding
  src/components/pages/profile/index.tsx
Due: eslint --fix --cache

feat: fill in unknown pages
  src/components/pages/talentmakers/index.tsx
  src/components/pages/talents/index.tsx
  src/images/under-construction.svg
  src/index.tsx
  src/pages/index.ts
  src/pages/talentmakers.ts
  src/pages/talents.ts
Due: eslint --fix --cache

update codeclimate config
  .codeclimate.yml
Due: prettier --write

chore: remove unused export
  src/components/bootstrap/toast.tsx
Due: eslint --fix --cache

update SEO-related things
  public/images/sc.png
  public/index.html
  tsconfig.json
Due: prettier --write

update tsconfig
  tsconfig.json
Due: prettier --write

refactor: use built-in Omit type
  src/utils/request.ts
Due: eslint --fix --cache

fix: make auth page responsive
  src/components/pages/auth/index.tsx
  src/components/pages/auth/login.tsx
Due: eslint --fix --cache

feat: add prerendered loading screen to HTML
  craco.config.js
  public/index.html
  src/index.scss
  src/index.tsx
Due: eslint --fix --cache, prettier --write, stylelint --fix --cache

scripts: modify analysis scripts
  package.json
Due: prettier --write

perf: remove unused utilities and breakpoints
  src/styles/_utilities.scss
  src/styles/_variables.scss
Due: stylelint --fix --cache

style: add eslint-plugin-react-hooks
  .eslintrc.js
  package.json
  src/components/pages/competition/buttons.tsx
Due: eslint --fix --cache, prettier --write

fix: header link button colour
  src/components/markdown/heading.module.scss
Due: stylelint --fix --cache

feat: add social icons to navbar
  src/components/footer/index.tsx
  src/components/nav/index.tsx
  src/components/nav/routes.ts
  src/index.scss
  src/styles/_mixins.scss
Due: eslint --fix --cache, stylelint --fix --cache

build: update `jsonpFunction`
  craco.config.js
Due: none

build: defer bootstrap scripts
  public/index.html
Due: prettier --write

CI: add yarn audit step
  .github/workflows/build.yml
Due: prettier --write

refactor: split vendor css, modulate markdown scss
  .stylelintrc.js
  public/index.html
  src/components/detailedItem/index.module.scss
  src/components/detailedItem/index.tsx
  src/components/footer/index.module.scss
  src/components/gridItem/index.module.scss
  src/components/markdown/blockquote.scss
  src/components/markdown/heading.module.scss
  src/components/markdown/scrollToHeader.ts
  src/components/markdown/styles.module.scss
  src/components/nav/index.module.scss
  src/components/pages/competition/index.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/home/home.module.scss
  src/components/pages/profile/index.module.scss
  src/components/pages/project/index.tsx
  src/components/styles/markdown-editor.module.scss
  src/index.tsx
  src/styles/_functions.scss
  src/styles/_markdown.scss
  src/styles/_mixins.scss
  src/styles/_variables.scss
  src/styles/global.scss
  src/styles/vendor.scss
  src/styles/vendor.scss.d.ts
Due: eslint --fix --cache, prettier --write, stylelint --fix --cache

refactor: use React hooks for App
  src/contexts/userContext.ts
  src/index.tsx
Due: eslint --fix --cache

refactor: use React portals for toasts
  public/index.html
  src/components/bootstrap/toast.tsx
  src/components/notifications/index.tsx
  src/components/notifications/styles.module.scss
  src/components/pages/auth/register.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/profile/index.tsx
  src/contexts/index.ts
  src/contexts/notificationContext.ts
  src/index.tsx
  src/styles/global.scss
  src/utils/cache.ts
  src/utils/errorHandler.ts
  src/utils/index.ts
  src/utils/notify.ts
Due: eslint --fix --cache, prettier --write, stylelint --fix --cache

perf: lazy load some images
  src/components/elements/image.tsx
  src/components/nav/index.tsx
  src/components/pages/home/index.tsx
  src/components/pages/profile/index.tsx
  src/components/pages/talentmakers/index.tsx
  src/components/pages/talents/index.tsx
Due: eslint --fix --cache

perf: code split react markdown
  src/components/markdown/index.tsx
Due: eslint --fix --cache

update localIdentName
  craco.config.js
Due: none

CI: update CI
  .github/workflows/merge.yml
Due: prettier --write
