Repository talentmaker/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache, stylelint --fix --cache

.lintstagedrc.yml:

"*.{js,ts,jsx,tsx,json,yml,yaml,html,md}":
  - prettier --write
"src/{**/*,*}.{ts,js,tsx,jsx}":
  - eslint --fix --cache
"*.{css,scss,sass}":
  - stylelint --fix --cache

husky: update husky pre-push
  .husky/pre-push
Due: none

fix: opacity typo
  public/index.html
Due: prettier --write

fix: remove flash of unstyled content
  src/index.tsx
Due: prettier --write, eslint --fix --cache

feat: add error boundary
  src/components/errorBoundary/index.tsx
  src/index.tsx
Due: prettier --write, eslint --fix --cache

deps: update dateplus
  package.json
  src/components/bootstrap/toast.tsx
  src/components/notifications/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix --cache

perf: convert `.forEach` to `for of`
  src/components/bootstrap/tooltip.ts
Due: prettier --write, eslint --fix --cache

update README
  README.md
Due: prettier --write

update manifest and browserconfig
  public/browserconfig.xml
  public/manifest.json
Due: prettier --write

CI: add browserCheck
  .github/workflows/build.yml
  browserCheck.js
  yarn.lock
Due: prettier --write

feat(PWA): add apple IOS splash screens
  public/images/apple/apple-splash-1125-2436.jpg
  public/images/apple/apple-splash-1136-640.jpg
  public/images/apple/apple-splash-1170-2532.jpg
  public/images/apple/apple-splash-1242-2208.jpg
  public/images/apple/apple-splash-1242-2688.jpg
  public/images/apple/apple-splash-1284-2778.jpg
  public/images/apple/apple-splash-1334-750.jpg
  public/images/apple/apple-splash-1536-2048.jpg
  public/images/apple/apple-splash-1620-2160.jpg
  public/images/apple/apple-splash-1668-2224.jpg
  public/images/apple/apple-splash-1668-2388.jpg
  public/images/apple/apple-splash-1792-828.jpg
  public/images/apple/apple-splash-2048-1536.jpg
  public/images/apple/apple-splash-2048-2732.jpg
  public/images/apple/apple-splash-2160-1620.jpg
  public/images/apple/apple-splash-2208-1242.jpg
  public/images/apple/apple-splash-2224-1668.jpg
  public/images/apple/apple-splash-2388-1668.jpg
  public/images/apple/apple-splash-2436-1125.jpg
  public/images/apple/apple-splash-2532-1170.jpg
  public/images/apple/apple-splash-2688-1242.jpg
  public/images/apple/apple-splash-2732-2048.jpg
  public/images/apple/apple-splash-2778-1284.jpg
  public/images/apple/apple-splash-640-1136.jpg
  public/images/apple/apple-splash-750-1334.jpg
  public/images/apple/apple-splash-828-1792.jpg
  public/index.html
  public/manifest.json
Due: prettier --write

add pwa asset generation script
  package.json
Due: prettier --write

add web-vitals
  package.json
  src/index.tsx
  src/reportWebVitals.ts
  yarn.lock
Due: prettier --write, eslint --fix --cache

fix: new project and competition page not showing
  src/components/pages/competition/buttons.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/project/index.tsx
  src/pages/editProject.tsx
Due: prettier --write, eslint --fix --cache

fix browserCheck shebang
  browserCheck.js
Due: prettier --write

CI: setup Node
  .github/workflows/build.yml
Due: prettier --write

CI: fix browser coverage
  .github/workflows/build.yml
Due: prettier --write

update browserCheck
  browserCheck.js
Due: prettier --write

fix apple-touch-startup-image href
  public/index.html
Due: prettier --write

perf(project): leverage `React.useMemo`
  src/components/pages/project/index.tsx
  src/components/pages/project/utils.ts
Due: prettier --write, eslint --fix --cache

switch to pnpm
  .prettierrc.yml
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

refactor: use hooks for window size
  src/components/nav/index.tsx
  src/hooks/useWindowSize.ts
Due: prettier --write, eslint --fix --cache

deps: replace some utils with utility library
  package.json
  pnpm-lock.yaml
  src/components/pages/competitions/index.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/projects/index.tsx
  src/utils/crypto.ts
  src/utils/index.ts
  src/utils/misc.ts
  src/utils/request.ts
  src/utils/try.ts
  src/utils/validate.ts
Due: prettier --write, eslint --fix --cache

dev: add --max-warnings=0 to lint-staged
  .lintstagedrc.yml
Due: prettier --write

fix(api): update frontend to reflect API changes
  src/adapters/competition.ts
  src/adapters/editCompetition.ts
  src/adapters/editProject.ts
  src/adapters/orgRequest.ts
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache

feat(teams): add teams
  src/adapters/teams.ts
  src/components/bootstrap/index.ts
  src/components/bootstrap/popover.ts
  src/components/bootstrap/tooltip.ts
  src/components/detailedItem/index.module.scss
  src/components/detailedItem/index.tsx
  src/components/notifications/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/joinTeam/index.tsx
  src/components/pages/project/index.tsx
  src/globals.ts
  src/index.tsx
  src/pages/editProject.tsx
  src/pages/index.ts
  src/pages/joinTeam.tsx
  src/schemas/inviteLink.ts
  src/schemas/project.ts
  src/styles/_bootstrap.scss
  src/styles/global.scss
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

dev: update husky
  .husky/pre-push
Due: none

feat(teams): accomidate for API changes
  src/adapters/teams.ts
  src/components/pages/joinTeam/index.tsx
  src/pages/joinTeam.tsx
Due: prettier --write, eslint --fix --cache

fix(amplify): use pnpm scripts
  amplify.yml
Due: prettier --write

fix: update bootstrap
  src/styles/_bootstrap.scss
Due: stylelint --fix --cache

fix amplify.yml
  amplify.yml
Due: prettier --write

perf: trust user subject claims for non security-intensive endpoints
  src/adapters/competition.ts
  src/components/pages/competition/index.tsx
  src/components/pages/editCompetition/index.tsx
Due: prettier --write, eslint --fix --cache

refactor: move token fetching to an adapter
  src/adapters/auth/tokens.ts
  src/adapters/utils/createAdapter.ts
  src/index.tsx
Due: prettier --write, eslint --fix --cache

fix: remove `refreshToken` from `userSchema`
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache

refactor: use `userSchema.isValidSync`
  src/index.tsx
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache

fix: remove `accessToken` from `userSchema`
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache

refactor: rename `sub` and `orgId` to match API conventions
  src/adapters/competition.ts
  src/adapters/editProject.ts
  src/adapters/project.ts
  src/adapters/projects.ts
  src/components/detailedItem/index.tsx
  src/components/pages/competition/buttons.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/competition/utils.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/profile/index.module.scss
  src/components/pages/profile/index.tsx
  src/components/pages/project/index.tsx
  src/components/pages/projects/index.tsx
  src/index.tsx
  src/pages/editProject.tsx
  src/pages/project.tsx
  src/pages/projects.tsx
  src/schemas/competition.ts
  src/schemas/competitions.ts
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

deps: add prettier-plugin-sh
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write
